:root {
  --first-logo-color: #2196f3;
  --second-logo-color: #000000;
  --third-logo-color: #ffffff;
  --first-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --main-background-color: #ffffff;
  --middle-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --direction-background-color: #2f303acc;
  --hero-btn-text-color: #ffffff;
  --main-btn-text-color: #212121;
  --btn-background-color: #f5f4fa;
  --active-btn-text-color: #ffffff;
  --active-btn-background-color: #2196f3;
  --active-hero-btn-background-color: #188ce8;
  --hero-btn-background-color: #2196f3;
  --first--link-color: #212121;
  --second-link-color: #757575;
  --third-link-color: #ffffff;
  --active-link-color: #2196f3;
  --first-icon-colour: #afb1b8;
  --card-border: #eeeeee;
  --footer-icon-background-color: rgba(255, 255, 255, 0.1);
  --modal-input-text-color: #000000;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.card {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
}

.container {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section__title {
  font-size: 28px;
  line-height: 1.18;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.17;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--first-title-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-right: auto;
    margin-left: auto;
  }
}

.section.no-padding-top {
  padding-top: 0;
}

.btn {
  font-family: inherit;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.header .container {
  display: flex;
  align-items: center;
  text-align: center;
}

.header-navigation {
  display: flex;
}

.header-logo {
  display: inline-block;
  padding-top: 24px;
  padding-right: 0;
  padding-bottom: 25px;
  padding-left: 0;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--first--link-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover, .header-link:focus {
  color: var(--active-link-color);
}

.top-contacts-list {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-list,
.top-contacts-list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
  gap: 50px;
}

.top-contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .current {
  color: var(--active-link-color);
  padding-bottom: 0;
  position: relative;
  transform: translateY(1px);
}
.header .current::after {
  content: "";
  display: flex;
  background-color: currentColor;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  margin-top: 28px;
  background-repeat: no-repeat;
}

.top-email-link,
.top-tel-link {
  color: var(--second-link-color);
  display: flex;
  align-items: center;
  gap: 10px;
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.top-email-link:hover, .top-email-link:focus,
.top-tel-link:hover,
.top-tel-link:focus {
  color: var(--active-link-color);
  fill: var(--active-link-color);
}

.top-icon {
  display: flex;
  fill: currentColor;
}

.header-list {
  margin-left: 93px;
}

.header-logo,
.footer-logo,
.studio,
.studio-footer {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.header-logo,
.footer-logo {
  color: var(--first-logo-color);
}

.studio {
  color: var(--second-logo-color);
}

.studio-footer {
  color: var(--third-logo-color);
}

.hero {
  background-color: var(--dark-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img_backgraund.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  text-transform: uppercase;
  color: var(--first-title-color);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    letter-spacing: 0.06em;
  }
}

.hero__btn {
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-style: normal;
  color: var(--hero-btn-text-color);
  background: var(--hero-btn-background-color);
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 24px;
  min-width: 200px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--active-hero-btn-background-color);
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    min-width: 216px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-list__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .card-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.card-list__icon {
  display: flex;
}

.card-list__rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: var(--middle-background-color);
  border-radius: 4px;
}

.card-list__title {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-top: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .card-list__title {
    text-align: left;
  }
}

.card-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

@media screen and (max-width: 1199px) {
  .direction {
    display: none;
  }
}

.direction-item {
  position: relative;
}

.direction-list {
  display: flex;
  gap: 30px;
}

.direction-title {
  background: var(--direction-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.team {
  background-color: var(--middle-background-color);
}

.content-container {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .content-container {
    padding-bottom: 30px;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 30px;
}

.teams-item {
  width: 100%;
  background-color: var(--main-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .teams-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .teams-item {
    width: calc((100% - 90px) / 4);
  }
}

.team-members-name {
  font-size: 16px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.team-position {
  font-size: px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.social-network-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 10px;
}

.soc-network-item {
  width: 44px;
  height: 44px;
}

.soc-network-link {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soc-net-icon {
  fill: var(--first-icon-colour);
}
.soc-network-link:hover .soc-net-icon, .soc-network-link:focus .soc-net-icon {
  fill: #fff;
}

.soc-network-link .soc-net-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients-list__item {
  display: flex;
  height: 92px;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--first-icon-colour);
  border: 1px solid var(--first-icon-colour);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--active-link-color);
}

.clients-list__link .clients-list__logo {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__logo {
  fill: currentColor;
}
.clients-list__link:hover .clients-list__logo, .clients-list__link:focus .clients-list__logo {
  fill: var(--active-link-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer {
  background-color: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  font-style: normal;
}

.address-conteiner {
  width: 231px;
}

.footer-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: block;
}
.footer-item:not(:last-child) {
  display: block;
  margin-bottom: 9px;
}

.footer-link {
  color: var(--third-link-color);
}

.footer-link-mail,
.footer-link-tel {
  color: var(--third-link-color);
  opacity: 0.6;
}

.footer-link,
.footer-link-mail,
.footer-link-tel {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover, .footer-link:focus,
.footer-link-mail:hover,
.footer-link-mail:focus,
.footer-link-tel:hover,
.footer-link-tel:focus {
  color: var(--active-link-color);
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-soc-net-container {
  margin-left: 70px;
  max-width: 206px;
}

.footer-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}

.soc-network-item .footer-icon-link {
  background-color: var(--footer-icon-background-color);
  color: #ffffff;
}

.footer-icon-link .soc-net-icon {
  fill: currentColor;
}

.soc-network-link {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-network-link:hover, .soc-network-link:focus {
  background-color: var(--active-link-color);
}

.subscribe {
  margin-left: 93px;
}

.subscribe-button {
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 28px;
  min-width: 200px;
  border-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--active-btn-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.icon-send {
  fill: #ffffff;
  margin-left: 10px;
}

.footer-mail-input {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  min-width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  background-color: transparent;
  outline: none;
}

.subscribe-form {
  display: flex;
  gap: 12px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  transition-property: transform, visibility, opacity;
  transition-duration: 250ms;
  transform: scale(1);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transrorm 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.close-btn {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-btn .icon-close,
.close-btn .icon-close {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .icon-close,
.close-btn:focus .icon-close {
  fill: var(--active-link-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition-property: transform, visibility, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1.5);
}

.modal-title {
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-title-color);
  margin-bottom: 11px;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  outline: transparent;
  padding-left: 42px;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-text:focus {
  border-color: #2196f3;
  color: var(--modal-input-text-color);
}

.modal-input:focus + .modal-input-icon {
  fill: #2196f3;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.send-btn {
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 52px;
  margin: 0 auto;
  margin-top: 30px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.send-btn:hover, .send-btn:focus {
  background-color: #188ce8;
}

.input-wrap {
  position: relative;
  margin-top: 4px;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  resize: none;
  color: rgba(117, 117, 117, 0.5);
}

.check-text {
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 3px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
}

.input-check:checked + .check-text span {
  background-color: #2196f3;
  border: transparent;
  fill: #ffffff;
}

input-check:focus + .check-text span {
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:focus + .check-text span {
  border-color: #212121;
}

.conditions-link {
  color: var(--active-link-color);
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.projects-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-btn {
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  letter-spacing: 0.03em;
  background-color: var(--btn-background-color);
  color: var(--main-btn-text-color);
  border: 0;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover, .filter-btn:focus {
  color: var(--active-btn-text-color);
  background-color: var(--active-btn-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-item {
  margin-left: 8px;
}
.filter-item:hover, .filter-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-item {
  width: calc((100% - 60px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-container {
  padding: 20px 24px;
  border: 1px solid var(--card-border);
  border-top: 0;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-item .hover-img-text {
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-img-wrap {
  position: relative;
  overflow: hidden;
}

.hover-img-text {
  position: absolute;
  bottom: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03sem;
  color: #ffffff;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease;
  overflow: auto;
}
.project-item:hover .hover-img-text {
  transform: translateY(0);
}

.project-title {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.project-direction {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-top: 4px;
}/*# sourceMappingURL=main.css.map */