.footer .container {
  display: flex;
  align-items: baseline;
}

.footer {
  background-color: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  font-style: normal;
}

.address-conteiner {
  width: 231px;
}

.footer-item {
  @include font(14, 1.71, null, 0.03);
  display: block;
  &:not(:last-child) {
    display: block;
    margin-bottom: 9px;
  }
}

.footer-link {
  color: var(--third-link-color);
}

.footer-link-mail,
.footer-link-tel {
  color: var(--third-link-color);
  opacity: 0.6;
}

.footer-link,
.footer-link-mail,
.footer-link-tel {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--active-link-color);
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-soc-net-container {
  margin-left: 70px;
  max-width: 206px;
}

.footer-title {
  @include font(14, 1.14, null, 0.03);
  text-transform: uppercase;

  color: #ffffff;

  @include placing(flex, null, baseline);
  margin-bottom: 20px;
}

.soc-network-item .footer-icon-link {
  background-color: var(--footer-icon-background-color);
  color: #ffffff;
}

.footer-icon-link .soc-net-icon {
  fill: currentColor;
}

.soc-network-link {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--active-link-color);
  }
}

.subscribe {
  margin-left: 93px;
}

.subscribe-button {
  font-style: normal;
  @include font(16, 1.88, 700, 0.06);

  color: #ffffff;
  padding: 10px 28px;
  min-width: 200px;
  border-width: 0;

  @include placing(flex, center, center);

  background: var(--active-btn-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.icon-send {
  fill: #ffffff;
  margin-left: 10px;
}

.footer-mail-input {
    @include font(16, 1.25, null, 0.03);
    @include placing(flex, null, center);
  min-width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  background-color: transparent;
  outline: none;
}

.subscribe-form {
  display: flex;
  gap: 12px;
}
