h1,
h2,
h3,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-inline-start: 0;
}

.card {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
