:root {
  --first-logo-color: #2196f3;
  --second-logo-color: #000000;
  --third-logo-color: #ffffff;
  --first-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --main-background-color: #ffffff;
  --middle-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --direction-background-color: #2f303acc;
  --hero-btn-text-color: #ffffff;
  --main-btn-text-color: #212121;
  --btn-background-color: #f5f4fa;
  --active-btn-text-color: #ffffff;
  --active-btn-background-color: #2196f3;
  --active-hero-btn-background-color: #188ce8;
  --hero-btn-background-color: #2196f3;
  --first--link-color: #212121;
  --second-link-color: #757575;
  --third-link-color: #ffffff;
  --active-link-color: #2196f3;
  --first-icon-colour: #afb1b8;
  --card-border: #eeeeee;
  --footer-icon-background-color: rgba(255, 255, 255, 0.1);
  --modal-input-text-color: #000000;
}